body{
    background: #F00000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #DC281E, #F00000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #DC281E, #40f000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.centrado {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
h1 {
    font-size: 100px;
    font-family: 'Gabriola', sans-serif;
    text-align: center;
    text-align: center;
}