body{
    background: #833ab4;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
h1 {
    text-align: center;
    font-style: italic;
    font-size: 60px;
}
h2 {
    text-align: center;
    font-style: italic;
    font-size: 20px;
    color: #7cff09;
}
.izquierda {
    display: block;
    margin-left: 0;
    margin-right: auto;
    margin-bottom: 18px;
}
.centrado {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 18px;
}
.derecha {
    display: block;
    margin-left: auto;
    margin-right: 0;
    margin-bottom: 18px;
}